body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

header {
    background-color: rgb(255, 217, 90);
    color: #040404;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    
}

.main {
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}

.projects {
    
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(250, 218, 113);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.project {

    margin: 50px 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

img {
    height: 150px;
}

footer {
    background-color: rgb(255, 217, 90);
    color: #090909;
    height: 50px;
    padding: 1em;
    text-align: center;
    width: 100%;
}


/* CSS */
.button-50 {
    appearance: button;
    background-color: rgb(255, 217, 90);
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}
@media (min-width: 400px) {
   
    .projects
    {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
   
}
@media (max-width: 399px) {
   
    body 
    {
        font-size: 12px;
    }
    .projects
    {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .project img
    {
        height:100px;
    }
   
}

/* Media query for screens 900px and above */
@media (min-width: 900px) {
    .projects
    { grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}


a {

    padding: 12px 40px;
  
   
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}